<head>
    <title>Add new account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans&display=swap" rel="stylesheet">
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="http://127.0.0.1:5000">
            <img src="{{url_for('static', filename='icon.png')}}" width="70" height="60" class="d-flexbox align-center justify-center" style="padding: 10px">
            <span>mindless.</span>
        </a>
    </nav>
    <div class="content">
        <h1>Add new account:</h1>
    <form class="form" method="post" action="{{ url_for('addreq') }}">
        <div class="form-entry">
          <label>Domain:</label>
          <!-- Regex credit to stackoverflow: https://stackoverflow.com/questions/3310216/url-regex-without-http-www !-->
          <input class="textbox" type="text" name="domain" 
                 pattern="^([a-zA-Z0-9]+(\.[a-zA-Z0-9]+)+.*)$" 
                 placeholder="Enter a domain" required>
        </div>
    
        <div>
          <label>Label:</label>
          <input class="textbox" type="text" name="label" placeholder="Enter a label" required>
        </div>
    
        <input class="textadd button" type="submit" value="Add" name="add"/>
    </form>
    </div>
</body>
